@using BreweryService.Models
@using BreweryWebApp.ViewComponents

@model IEnumerable<Client>

@{
    var beers = await BeerList.GetItemsAsync();
    var balance = await BeerList.GetOverallMoneyAsync();

    var clients = await ClientList.GetClientsAsync();

    ViewData["Title"] = "Orders todo";

    ViewData["Title"] = "Contact";
}
<h2>Global Discounts</h2>
add discounts table

<h2>Customers' Data & Statistics</h2>

@foreach (var client in clients)
{
<div>
    @await Component.InvokeAsync(nameof(ClientList), new { i = (int)@client.Id })
</div>

}