@using BreweryService.Models
@using BreweryWebApp.ViewComponents

@model IEnumerable<Client>

@{
    var beers = await BeerList.GetItemsAsync();
    var balance = await BeerList.GetOverallMoneyAsync();

    var clients = await ClientList.GetClientsAsync();

    ViewData["Title"] = "Orders todo";

    ViewData["Title"] = "Contact";
}
<h2>Global Discounts</h2>
add discounts table

<h2>Customers' Data & Statistics</h2>

<ul class="nav nav-tabs">
@foreach (var client in clients)
{
    <li><a data-toggle="tab" href="#c@(client.Id)">@client.Name</a></li>
}
    
</ul>

<div class="tab-content">
    

    @foreach (var client in clients)
    {
        <div id="c@(client.Id)" class="tab-pane fade">
            @await Component.InvokeAsync(nameof(ClientList), new { i = (int)@client.Id })
        </div>

    }
</div>